  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-xl-8 col-md-10">
          <h2 class="my-3 text-center">
            <b>Gerência por completo <span class="fa fa-pencil"></span></b>
          </h2>
          <p class="lead text-center"> Gerencie toda a sua campanha, inclusive os custos com aluguel de comitê, combustivel entre outros em nosso painel de gastos. ferramentas completas para você e sua equipe tomarem conta por completo de todos os aspectos da campanha. </p>
        </div>
      </div>
    </div>
  </div>