  <div class="py-5" id="recursos">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="my-3">
            <b>Recursos <span class="fa fa-handshake-o"></span></b>
          </h2>
          <p class="lead mb-4"> Faça o cadastro de Seus cabos eleitorais, e deixe eles trazerem mais simpatizantes para a sua campanha. Acompanhe relatórios por bairro, rua e ou por <b><i>#hastags</i></b> personalizadas. Saiba quais deles, têm trazido mais resultados para você. Veja o crescimento de sua imagem, passo-a-passo. </p>
        </div>
        <div class="col-md-6">
          <h2 class="my-3">
            <b>Sempre online <span class="fa fa-signal"></span></b>
          </h2>
          <p class="lead mb-4"> As informações cadastradas são em tempo real. Quando seu colaborador salvar uma informação, ela já estará disponível para sua consulta. Nosso sistema é responsivo e amigável a celulares, possibilitando que os mesmo utilizem e atualize informações de qualquer ponto com internet.</p>
        </div>
      </div>
    </div>
  </div>