<nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top navbar-ontop">
	<div class="container">
		<a class="navbar-brand" title="" data-placement="bottom" data-toggle="tooltip" href="/" data-original-title="Desenvolvido Pela kingkernel. By Daniels Hogans">
		Campanha 2020
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNowUIKitFree">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse text-center justify-content-end" id="navbarNowUIKitFree">
			<ul class="navbar-nav">
				<li class="nav-item mx-1 align-items-center d-flex justify-content-center">
					<a class="nav-link" href="#download">
						<i class="now-ui-icons arrows-1_cloud-download-93 x2 mr-2"></i>&nbsp;LICENÇAS
					</a>
				</li>
				<li class="nav-item mx-1 align-items-center d-flex justify-content-center">
					<a class="nav-link" href="#">
						<i class="now-ui-icons files_paper x2 mr-2"></i>RECURSOS
					</a>
				</li>
			</ul>
			<a class="btn btn-light text-primary" href="#pro">
				<i class="now-ui-icons arrows-1_share-66 mr-1"></i>Quero ser representante
			</a>
			<ul class="navbar-nav flex-row justify-content-center mt-2 mt-md-0">
				<li class="nav-item mx-1">
					<a class="nav-link" href="/login/" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Entrar">
						<i class="fa fa-fw fa-key fa-3x"></i>
					</a>
				</li>
				<li class="nav-item mx-3 mx-md-1">
					<a class="nav-link" href="#" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Curta-nos no Facebook">
						<i class="fa fa-fw fa-facebook-official fa-3x"></i>
					</a>
				</li>
				<li class="nav-item ml-1">
					<a class="nav-link" href="#" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Siga o Criador no Instagram">
						<i class="fa fa-fw fa-instagram fa-3x"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>