@section("templates.cp2020.templatehead")
@section("templates.cp2020.index_sections.topnav_index")
<style>
  fieldset form input {
    color: black;
  }
</style>
<body class="bg-gray">
  <div class="container">
    <fieldset style="margin-top: 75px">  
      <form action="/cadastro/siteeleitor/">
      <p class="text-muted">
        <legend>CADASTRO DE ELEITOR</legend>
      </p>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="" placeholder="Nome completo">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1">
                  <i class="now-ui-icons users_single-02 md"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="" placeholder="E-mail">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <select class="form-control">
                <option value="">ESTADO</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <select class="form-control">
                <option value="">CIDADE</option>
              </select>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <select class="form-control">
                <option value="">BAIRRO</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="" placeholder="Logradouro / rua ">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="" placeholder="Número">
            </div>
          </div>
        </div>
      </div>

<hr>

<input type="submit" class="btn btn-primary mx-1 my-3 rounded btn-lg" value="Cadastrar-me">


              </form>
            </div>
          </div>
        </div>
      </div>

    </fieldset>    
  </div>
</body>
@section("templates.cp2020.templatefooter")