<!DOCTYPE html>
	<html lang="pt">
	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">
  		<link rel="stylesheet" href="@field{{templatepath}}now-ui-kit.css" type="text/css">
  		<link rel="stylesheet" href="@field{{templatepath}}assets/css/nucleo-icons.css" type="text/css">
  		<script src="@field{{templatepath}}assets/js/navbar-ontop.js"></script>
  		<link rel="icon" href="@field{{templatepath}}assets/Pingendo_favicon.ico">
  		<meta name="description" content="Inicie sua campanha eleitoral na frente com nosso software Lider de mercado.">
  		<meta name="keywords" content="campanha eleitoral, campanha 2020, eleições 2020, software de campanha, gestão de campanha">
			<title> Login | campanha 2020 </title>
	</head>
	<body>
	<div class="py-5 bg-dark" style="background-image: url(&quot;/app/visao/templates/cp2020/assets/img/bg11.jpg&quot;); background-size: cover; background-position: center top;">
		<div class="container">
			<div class="row my-4">
				<div class="mx-auto col-md-6 col-10 col-xl-4 px-4">
					<div class="card bg-primary">
						<div class="card-body text-center">
							<div class="row mt-5">
								<div class="col-md-12">
									<h5 class="mb-4">
										<b>Login</b>
									</h5>
								</div>
							</div>
							<div class="row mt-4 pt-2">
								<div class="col">
									<form>
									<div class="form-group mb-2">
										<div class="input-group border-0">
											<div class="input-group-prepend">
												<b>
													<span class="input-group-text" id="basic-addon1">
														<i class="now-ui-icons users_circle-08 lg"></i>
													</span>
												</b>
											</div>
											<b>
												<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="e-mail">
											</b>
										</div>
									</div>
									<div class="form-group mb-3">
										<div class="input-group border-0">
											<div class="input-group-prepend ">
												<b>
													<span class="input-group-text" id="basic-addon1">
														<i class="now-ui-icons ui-1_email-85 lg"></i>
													</span>
												</b>
											</div>
											<b>
												<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Senha"> </b>
											</div>
										</div>
										<b>
											<button type="submit" class="btn mt-4 mb-3 btn-light rounded btn-lg text-primary">Entrar</button>
										</b>
									</form>
									<div class="row text-center">
										<div class="col" syle="color: white">
											<b><a href="#">esqueci a senha</a></b>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col">
					<b><a class="btn rounded btn-lg btn-outline-secondary" href="#">Criar cadastro</a></b>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
