<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">
  <link rel="stylesheet" href="@field{{templatepath}}now-ui-kit.css" type="text/css">
  <link rel="stylesheet" href="@field{{templatepath}}assets/css/nucleo-icons.css" type="text/css">
  <script src="@field{{templatepath}}assets/js/navbar-ontop.js"></script>
  <link rel="icon" href="@field{{templatepath}}assets/Pingendo_favicon.ico">
  <title>Campanha eleitoral 2020 - </title>
  <meta name="description" content="Inicie sua campanha eleitoral na frente com nosso software Lider de mercado.">
  <meta name="keywords" content="campanha eleitoral, campanha 2020, eleições 2020, software de campanha, gestão de campanha">
</head>